header h1 {
    font-size: 35px;
    font-family: "Comic Sans MS";
    color: #ffffff;
    text-align: center;
    background-color: green;
    margin-bottom: 0;
    margin-top: 0;
}

header h2 {
    font-size: 25px;
    font-family: "Comic Sans MS";
    color: #ffffff;
    text-align: center;
    background-color: limegreen;
    margin-top: 0;
}

body {
    background-color: #000000;
    color: white;
    font-family: "Arial";
    font-size: 35px;
    text-align: center;
    color: white;
    background-color: lightskyblue;
}

canvas {
    background-color: lightskyblue;
    width: 600px;
    height: 700px;
    padding-left: 400px;
}

a {
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: 35px;
    font-family: "Comic Sans MS";
    font-weight: bold;
    background-color: cornflowerblue;
}

a:hover {
    background-color: cadetblue;
}

p {
    font-family: "Comic Sans MS";
    font-weight: bold;
    background-color: cornflowerblue;
    padding: 10px;
}

li {
    font-weight: normal;
    font-family: "Arial";
    list-style: none;
    background-color: cornflowerblue;
}

button {
    height: 50px;
    width: 200px;
    font-size: 30px;
    font-family: "Comic Sans MS";
    color: #000000;
    background-color: limegreen;
    font-weight: bold;
}

button:hover {
    background-color: green;
    cursor: pointer;
}

footer {
    position: fixed;
    bottom: 0;
    font-size: 20px;
}

span {
    font-family: "Comic Sans MS";
    font-weight: bold;
}

img {
    width: 100px;
    height: 100px;
}

#flames {
    width: 40px;
    height: 40px;
    vertical-align: middle;
}